<h2>Today's article</h2>
<hr>
<!--<div>
  <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
</div>-->

<div>
  <!--<textarea [(ngModel)]="article.title" id="article-title"></textarea>
  <textarea [(ngModel)]="article.url" id="article-url"></textarea>-->
  <!--<input (click)="updateArticle()" type="button" value="Update"/>-->
  <app-navbar></app-navbar>
<!--  <input #newTitle/>
  <input #newUrl/>-->
  <!--<button (click)="addArticle(newTitle.value, newUrl.value)">Add</button>-->
</div>
<hr>
@CodeGym, 2019
